@font-face {
  font-family: "Kalavika bold";
  src: url(./assets/font_family/klavika-bold.otf);
}

@font-face {
  font-family: "Kalavika regular";
  src: url(./assets/font_family/Klavika-Regular.otf);
}

.ff_Kalavika_bold{
  font-family: "Kalavika bold";
}

.ff_Kalavika_regular{
  font-family: "Kalavika regular";
}

.bg_hero{
  background-image: url(./assets/images/Png/Hero_bg.png);
}

.custom_container{
  max-width: 1090px;
}